[Unit]
Description=Camera
After=mediamtx.service

[Service]
WorkingDirectory=/opt/c2
ExecStart=/usr/bin/python3 -m c2

[Install]
WantedBy=multi-user.target
